/* @tailwindcss */
@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --background: red;
  --foreground: blue;
  --font-sans: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}