@use "../styles/mixins" as *;
@use "../styles/variables.scss" as *;

.legalContainer {
  margin: 0rem;
  padding: $padding-all-2;
  line-height: 1.6;
  color: $text-medium-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include respond-to("md") {
    padding: $padding-all-2;
    margin: $margin-left-right-2;
  }

  .title {
    color: $accent-color;
    text-transform: uppercase;
  }

  .subtitle {
    color: $primary-color;
  }

  .list {
    list-style-position: inside;
  }

  .link {
    color: $accent-color;
  }
}
